.recruitment .pageTitle h2 {
    color: #3c5e2c;
    margin: 0px 0 30px;
    padding-top: 30px;
    font-size: 16px;
    border-top: 1px solid rgba(60, 94, 44, 0.1);
    font-family: 'BeauLuloClean-OneBold';
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.text-center{
    text-align: center !important;
}
.recruitment .bannerCover{
    position: relative;
    background-attachment: fixed !important
}
.recruitmentContact .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.recruitment .hero-text {
    color: #fff;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 150px 0px 60px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 3;
    min-height: 25.5rem;
}

.recruitment .contact-detail {
    padding-bottom: 0;
    border: none;
}
.contact-detail {
    padding: 40px 0 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #3c5e2c;
    line-height: 20px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.contact-detail ul.nav li {
    margin-bottom: 20px;
    width: 100%;
    display: block;
}
.comparyAddress {
    margin: 20px 0;
    padding: 0;
    padding-right: 0;
}
.contact-detail h5 {
    color: #232323;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 17px;
}
.contact-detail h6 {
    text-transform: uppercase;
    font-size: 13px;
    color: #3c5e2c;
    font-family: 'BeauLuloClean-OneBold';
    
}
.recruitment p {
    color: #555;
    font-weight: 400;
}

.contact-detail {
    margin-left: 377px;
    margin-right: 0;
}

h5, h6, a:hover {
    box-shadow:0 1px 20px 0 rgba(0,0,0,.05);
}