/* Contents
General Setup
1. Header
2. Footer
3. Home Page
4. About Page
5. Posts Page
6. Menu/ Groceries Page
7. Menu/ Grocery Detail Page
8. Career Page
9. Store Page === Location Page
10. Contact Page
*/

@font-face {
    font-family: 'BeauLuloClean-OneBold';
    src: url(../../fonts/BeauLuloClean-OneBold-35d252df500899288459e249b97525f5d41d.eot?#iefix) format('embedded-opentype'), url(../../fonts/BeauLuloClean-OneBold-4ce34c0eaf26a1818d6dc4bae56dbaf8.otf) format('opentype'), url(../../fonts/BeauLuloClean-OneBold-bb0cd1091bc6a5db5422e4e6cffb558a.woff) format('woff'), url(../../fonts/BeauLuloClean-OneBold-d1ee29797ead94565f78c9aa426ed32b.ttf) format('truetype'), url(../../fonts/BeauLuloClean-OneBold-6b4a34a4a40dc09d96ceab0014eed9b2.svg#BeauLuloClean-OneBold) format('svg');
    font-weight: normal;
    font-style: normal;
}
*, *:before, *:after {
    box-sizing: border-box; 
    margin: 0; 
}
html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
body {
    font-size: 14px !important;
    color: #555555;
    line-height: 1.7 !important;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none !important; 
    color: #555555 !important; 
}
ul {
    list-style: none;
}
.App div {
    position: relative;
}
.menu, .footer {
    z-index: 1;
}
.pageContent {
    position: relative;
    padding: 30px 0;
    transition: z-index .3s ease-out;
}
/* //////////////////// 1.HEADER ///////////////////// */
.menu {
    border-bottom: solid #55555555 2px;
}
.menu ul:not(.dropdown-container){
    margin: 0;
    padding: 35px 0;
    text-align: center;
}
.menu-item:not(.drop-item) span{
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}
.drop-item span {display: inline-block;}
.menu-item span::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: #3c5e2c;
    transition: width .3s;
}
.menu-item:hover span::after{
    width: 100%;
}
.default:hover {
    cursor: default;
}
.logoCong {
    text-align: center;
    padding: 35px 0;
}
.logoCong img{
    max-height: 43px;
}
.socialLogo {
    padding-right: 10px;
}
.socialLogo img{
    max-height: 25px;
}
/* DROPDOWN */
.dropdown {
    z-index: 1;
}
.dropdown-container {
    opacity: 0;
    position: absolute;
    padding-left: 0;
    text-align: left;
    min-width: 200px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    transform: translateY(60px); 
    transition: all .3s ease-in-out; 
}
.dropdown-container::after {
    content: '';
    clear: both;
    height: 0;
}
.menu ul li:hover ul {
    opacity: 1 !important;
    transform: translateY(0); 
}
.drop-item {
    padding: 7px 15px;
    border-bottom: solid 1px #b9b8b8cc;
}

/* //////////////////// 2.FOOTER ///////////////////// */
.socialContact {
    padding: 20px 0;
    border-top: solid #3c5e2c 2px;
    border-bottom: solid #3c5e2c 2px;
}
.footerTitle {
    padding-bottom: 10px;
    color: #3c5e2c;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.emailRegister {
    width: 320px;
    padding: 4px 10px;
    color: #b4b9bc;
    border: solid #b4b9bc 2px;
    transition: border .2s ease;
}
.emailRegister:focus {
    outline: none !important;
    border: solid #3c5e2c 2px;
}
.emailSubmit {
    padding: 6px 15px;
    background-color: #3c5e2c;
    color: #fff;
    font-size: 17px;
}
.emailSubmit:focus {
    outline: none !important;
}
.privacyGuarantee {
    color: #b4b9bc;
}
.copyRight {
    padding: 30px 0;
    background-color: rgb(60, 94, 44);
    color: #fff;
    font-size: 12px;
    word-spacing: .1rem;
}
.copyRight b {
    font-size: 16px;
}

/* //////////////////// 3.HOME PAGE ///////////////////// */
.slider-container {
    height: 500px;
    overflow: hidden;
}
.slider-img img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.slider-content {
    text-align: center;
    padding: 20px 300px;
    background-color: rgba(255, 241, 208, 0.9);
    position: absolute;
    font-size: 14px;
}
.slider-title {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 15px;
    margin-bottom: 10px;
}
.slider-desc {
    padding: 0 60px;
}
.slider-more-container {
    text-align: right;
}
a.slider-more {
    color: #3c5e2c !important;
    text-decoration: underline !important;
    font-style: italic;
}
.slider-button {
    background-color: #3c5e2c;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 0px 10px;
}
.prevbutton {
    left: 1%;
}
.nextbutton {
    right: 1%;
}
.slider-button:focus {
    outline: 0;
}
.pages-intro {
    padding: 0 300px;
}
.banner {
    margin-top: 30px;
}
.banner a {
    text-align: center;
    margin: auto 0;
    height: 100%;
    display: inline-block;
}
.banner span {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 20px;
}
/* .banner:hover {
    cursor: pointer;
} */
.banner1 span, .banner2 span{
    padding: 5px 10px;
    position: absolute;
    display: inline-table;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}
.banner1 span::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    transition: all 0.7s ease;
    background: none;
    z-index: -1;
}
.banner1 {
    height: 400px;
    background: url(https://cong-news.appwifi.com/wp-content/uploads/2019/01/banner1.jpg) no-repeat;
}
.banner1 ::after {
    content: '';
    background-color: rgba(255, 241, 208, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.7s ease;
    z-index: 1;
}
.banner1 a:hover::after {
    opacity: 0;
}
.banner1 a:hover span::after {
    background-color: rgba(255, 241, 208, 0.9);
}
.banner2-content {
    padding: 30% 25%;
}
.banner2-left {
    background: url(https://cong-news.appwifi.com/wp-content/uploads/2019/05/11copy.jpg) no-repeat;
    background-size: cover;
}
.banner2-right { 
    background: url(https://cong-news.appwifi.com/wp-content/uploads/2019/05/SLL2cp.jpg) no-repeat;
    background-size: cover;
}
.banner2-content span{
    background-color: rgba(255, 241, 208, 0.9);
    transition: all 0.25s ease;
}
.banner2-content span:hover {
    transform: translate(-50%,-60%);
}
.banner3 {
    background: url(https://cong-news.appwifi.com/wp-content/uploads/2019/05/Pha-Che.jpg) no-repeat;
}
.banner3 a, .banner4 a {
    background-color: rgba(255, 241, 208, 0.9);
    transition: all 0.25s ease;
}
.banner3 a {
    padding: 12.5% 2.5%;
    width: 50%;
    height: 100%;
}
.banner3:hover a {
    transform: translateX(100%);
}
.banner4 a {
    padding: 25px;
}
.banner4 a:hover {
    transform: translateY(-5px);
}
.banner4 {
    background: url(https://cong-news.appwifi.com/wp-content/uploads/2019/06/tuyen-Dung-2.jpg) no-repeat;
    padding: 10% 25%;
}
.banner3 span, .banner4 span {
    position: relative;
}
.banner3 span::after, .banner4 span::after {
    content: '';
    height: 4px;
    width: 100px;
    background-color: rgb(85, 85, 85);
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}
.pages-intro-more ul {
    padding-inline-start: 0;
    margin-top: 30px;
}
.pages-intro-more ul li span{
    font-family: 'BeauLuloClean-OneBold';
    color: #3c5e2c;
}
.pages-intro-more ul li p{
    text-transform: capitalize;
    margin-top: 10px;
}
/* //////////////////// 4.ABOUT PAGE ///////////////////// */
.about-container {
    padding: 0 300px;
    margin: 0 auto !important;
}
.about-title{
    font-family: 'BeauLuloClean-OneBold';
    font-size: 22px;
    color: #555555;
}
.about-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 40px 0 20px;
}
.about-content p{
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
}

/* //////////////////// 5.POSTS PAGE ///////////////////// */
.post-item-container {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid #eeeeee 2px;
}
.post-item-img img {
    height: 180px;
    width: 290px;
}
.item-title {
    font-family: 'BeauLuloClean-OneBold';
    margin-bottom: 20px;
    font-size: 18px;
}
.followPosts {
    background-color: #eeeeee;
    display: inline-block !important;
    padding: 20px;
    text-align: center;
    color: #838383;
}
.followPosts-title {
    font-size: 16px;
}
.followPosts img {
    max-height: 60px;
    margin: 10px 0 40px;
}
.followPosts-desc {
    font-size: 18px;
}
.emailRegister-posts-container {
    height: 40px;
}
.emailRegister-posts {
    border: none;
    width: 220px;
    height: 100%;
}
.emailSubmit-posts {
    height: 100%;
    font-size: 15px;
    padding: 6px 10px;
}

/* //////////////////// 6.MENU/ GROCERIES PAGE ///////////////////// */
.load-container {
    position: static !important;
}
#load {
    border: solid #3c5e2c 2px;
    color: #3c5e2c;
    font-weight: bold;
}
#load:focus {
    box-shadow: none;
}
.items {
    height: 80%;
}
.menuList {
    line-height: 2rem;
    padding-inline-start: 80px;
    font-weight: 700;
}
.item-img img {
    max-height: 210px;
    border: solid #3c5e2c 2px;
    margin-right: 30px;
    margin-bottom: 5px;
    opacity: 1;
    transition: opacity .5s ease;
}
.shop-item-container {
    width: 33%;
}
.shop-item-container .item-img img {
    width: 90%;
}
.item-container {
    display: none;
    float: left;
}
.item-img img:hover {
    opacity: .5;
}
.item-content {
    color: #555555;
    margin-bottom: 20px;
}
.item-name {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 13px;
}

/* //////////////////// 7.MENU/ GROCERY DETAIL PAGE ///////////////////// */
.detailContainer {
    padding: 0 300px;
}
.detail-img img{
    width: 400px;
    height: 400px;
    border: solid #3c5e2c 2px;
}
.detail-content {
    font-size: 17px;
}
.detail-content h3 {
    font-family: 'BeauLuloClean-OneBold';
}
.order button{
    border: solid #3c5e2c 2px;
    color: #3c5e2c;
}
.order:hover button {
    background-color: #3c5e2c;
    color: #fff;
}
/* //////////////////// 8.CAREER PAGE ///////////////////// */
.career-intro-container {
    background: url(../img/career-intro.png);
    background-size: cover;
    height: 400px
}
.career-intro-container::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
}
.career-intro-content {
    padding: 150px 0 60px 300px;
    margin: 0 auto;
    z-index: 2;
    color: #fff;
    font-size: 22px;
}
.career-intro-title {
    margin: 8px 0 20px;
    font-family: 'BeauLuloClean-OneBold';
}
.jobsViewer button{
    padding: 12px 32px;
    background-color: #3c5e2c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    transition: all .3s ease;
}
.jobsViewer button:focus {
    outline: none !important;
}
.jobsViewer button:hover {
    color: #fff;
    background-color: #40642e;
}
.companyInfo {
    padding: 0 30px 44px;
    font-size: 16px;
    border-bottom: dotted #eee 2px;
}
.career-item-container {
    float: left;
    width: 32%;
    margin: .5%;
}
.career-main-content {
    margin: 0 290px;
}
.career-main-content h1 {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 20px;
    text-align: center;
    margin: 60px 0 50px;
}
.companyMessage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.item {
    overflow: auto;
}
.career-item-img img {
    width: 286px;
    height: 190px;
    padding: 0 15px;
}
.career-photo img{
    margin: 60px 0 80px;
    width: 860px;
    height: 460px;
}
.career-item-content {
    padding-left: 15px;
}
.career-item-title {
    margin: 20px 0;
    font-size: 17px;
}
.job-intro-container {
    background: url(../img/job-intro.jpg);
    background-size: cover;
    padding: 0 400px;
    position: relative;
    background-position: center;
}
.job-intro-content {
    background: rgba(255, 241, 208, 0.9);
    padding: 80px 0 60px;
    overflow: hidden;
}
.job-intro-content h1 {
    text-align: center;
    font-family: 'BeauLuloClean-OneBold';
    font-size: 22px;
    color: #555555;
}
.job-intro-content p {
    font-style: italic;
    padding: 20px;
}
#jobs {
    padding: 80px 0 20px;
    color: #333333;
}
.job-container {
    margin: 0 290px 30px;
    padding-bottom: 40px;
}
.job-title h3 {
    font-size: 20px;
    padding: 10px 15px;
    margin: 0;
}
.job-title::before {
    content: "";
    height: 3px;
    width: 70px;
    background: rgba(51, 51, 51, 0.1);
    position: absolute;
    bottom: 0px;
    margin-left: 15px;
}
.job-content {
    padding: 10px 15px;
    margin: 0 3px !important;
    font-weight: 500;
    border-radius: 5px;
}
.job-content:hover {
    background-color: #eeeeee;
}
.job-desc {
    font-size: 16px;
    padding: 10px 0 !important;
}
.detail {
    text-align: right;
    padding-top: 10px;
}
.detail span {
    margin-left: 2px;
    margin-right: 15px;
}
.registerLink button{
    background-color: #3c5e2c;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 8px 15px;
    margin-top: 3px;
}

/* //////////////////// 9.LOCATION PAGE ///////////////////// */
.store-map{
    touch-action: pan-x pan-y;
}
.store-map iframe {
    display: block;
    z-index: 9 !important;
}
.store-map-table{
    position: absolute !important;
    height: 800px !important;
    left: 2rem;
    top: 0;
    padding: 1rem 2rem 0.05rem;
    width: 14rem;
    box-sizing: border-box;
    overflow-y: auto;
    background: white;
}
.store-map-table ul {
    padding-inline-start: 0 !important;
}
.store-map-table ul li, .store-map-table .panel ul li a{
    padding: 6px 0;
    color: #363636;
}
.store-count{
    padding-left: 20px;
    font-size: 12px;
    color: #cbcbcb;
}
.panel{
    background: white;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.store-country img {
    margin-right: 10px;
    height: 22px;
}
.store-country h5{
    padding-top: 3px;
    color: #000000;
}
.set {
    padding: 10px 0 5px;
}
.filter {
    border-bottom: solid #e9e9e9 1px;
}

/* //////////////////// 10.CONTACT PAGE ///////////////////// */
.pageTitle {
    text-align: center;
}
.recruitmentContact .pageTitle h2 {
    margin: 0px 0 30px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
}
.contact-title {
    color: #3c5e2c !important;
    font-family: 'BeauLuloClean-OneBold';
}
.recruitmentContact .bannerCover{
    position: relative;
    background-attachment: fixed !important
}
.bannerCover {
    background: url(https://congcaphe.com/_next/static/images/demo4-b9946de6aa1521bd6c5c433c84434a69.jpg) no-repeat center center/cover;
}
.recruitmentContact .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: #fff;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 130px 0px 60px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    z-index: 3;
    min-height: 25rem;
}
.contact-detail {
    margin: 40px 300px 20px 300px;
    line-height: 20px;
    font-size: 16px;
}
.contact-list ul li {
    margin-bottom: 20px;
}
.companyAddress {
    margin-top: 40px;
    padding-left: 40px;
}
.companyAddress h5 {
    color: #232323;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 17px;
}
.companyAddress h6 {
    margin-bottom: 0;
}
