
@font-face {
  font-family: 'NittiTypewriter';
  src: url(./fonts/NittiTypewriter-ae3476cff310a486029be4af3625ad8cd41d.eot?#iefix) format('embedded-opentype'), url(./fonts/NittiTypewriter-21d2137501e11e71a7bc1d5f496a6b7f.otf) format('opentype'), url(./fonts/NittiTypewriter-bb31242d8e591f5cb40182b53e4efa96.woff) format('woff'), url(./fonts/NittiTypewriter-b84d67fc231e62347ff81673c6a08c43.ttf) format('truetype'), url(./fonts/NittiTypewriter-db30162ce32b5e6693161cd910ceb8cb.svg#NittiTypewriter) format('svg');
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'NittiTypewriter', Arial, sans-serif !important;
  font-weight: 500 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333 !important;
}

